<header class="main-header"  style="background-image: url(/assets/images/logobg.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a class="branding" href="/" title="s2mBlog 免费博客平台"><img src="/assets/images/logo.png" alt="s2mBlog 免费博客平台"></a>
			</div>
		</div>
	</div>
</header>

<nav class="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="navbar-header">
					<span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
					</span>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="menu">
						<li ${(headerNavPos=="index")?string("class='nav-current'","")} role="presentation"><a href="/">首页</a></li>
						<li ${(headerNavPos=="news")?string("class='nav-current'","")} role="presentation"><a href="/tags/news/">最新动态</a></li>
						<li ${(headerNavPos=="release")?string("class='nav-current'","")} role="presentation"><a href="/tags/release/">更新记录</a></li>
						<li ${(headerNavPos=="faq")?string("class='nav-current'","")} role="presentation"><a href="/tags/faq/">常见问题</a></li>
						<li ${(headerNavPos=="about")?string("class='nav-current'","")} role="presentation"><a href="/blog/about/">关于</a></li>
						<li ${(headerNavPos=="vps")?string("class='nav-current'","")} role="presentation"><a href="/blog/vps/" style="color:red;">香港免备案独享Tomcat7.0空间</a></li>
					</ul>   
				</div>
			</div>
		</div>
	</div>
</nav>