<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuxinpei.blog.dao.TagsMapper" >
  <resultMap id="BaseResultMap" type="com.xuxinpei.blog.pojo.Tags" >
	<id column="id" property="id" jdbcType="INTEGER" />
	<result column="name" property="name" jdbcType="VARCHAR" />
	<result column="url" property="url" jdbcType="VARCHAR" />
	<result column="number" property="number" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
		id
		,name
		,url
		,number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM tags
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM tags
    <include refid="map_params_where_condition" />
	ORDER BY id DESC
	LIMIT 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM tags
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuxinpei.blog.pojo.Tags" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO tags (
	  name
	  ,url
	  ,number
      )
    VALUES (
		  
		  #{name,jdbcType=VARCHAR}
		  ,
		  #{url,jdbcType=VARCHAR}
		  ,
		  #{number,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xuxinpei.blog.pojo.Tags" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="name != null" >
			name,
		  </if>
		  <if test="url != null" >
			url,
		  </if>
		  <if test="number != null" >
			number,
		  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="name != null" >
			#{name,jdbcType=VARCHAR},
		  </if>
		  <if test="url != null" >
			#{url,jdbcType=VARCHAR},
		  </if>
		  <if test="number != null" >
			#{number,jdbcType=INTEGER},
		  </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuxinpei.blog.pojo.Tags" >
    UPDATE tags
    <set >
	  <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
	  <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
	  <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuxinpei.blog.pojo.Tags" >
	UPDATE tags SET
        name = #{name,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        number = #{number,jdbcType=INTEGER}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="map_params_where_condition" >
    <trim prefix="WHERE" prefixOverrides="AND">
	  <if test="id != null" >
        AND id = #{id,jdbcType=INTEGER}
	  </if>
	  <if test="name != null" >
        AND name = #{name,jdbcType=VARCHAR}
	  </if>
	  <if test="url != null" >
        AND url = #{url,jdbcType=VARCHAR}
	  </if>
	  <if test="number != null" >
        AND number = #{number,jdbcType=INTEGER}
	  </if>
	  <if test="condition != null">
	  <if test="condition.id != null" >
        AND id = #{condition.id,jdbcType=INTEGER}
	  </if>
	  <if test="condition.name != null" >
        AND name = #{condition.name,jdbcType=VARCHAR}
	  </if>
	  <if test="condition.url != null" >
        AND url = #{condition.url,jdbcType=VARCHAR}
	  </if>
	  <if test="condition.number != null" >
        AND number = #{condition.number,jdbcType=INTEGER}
	  </if>
	  </if>
	  <if test="vo != null and !vo.expressionChainList.empty">
        AND
        <foreach collection="vo.expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  ${expression.column} ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  ${expression.column} ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  ${expression.column} ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  ${expression.column} ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
    </trim>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tags
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY id DESC
    </if>
    <if test="orderBy != null" >
      ORDER BY ${orderBy}
    </if>
    <if test="pageBeginIndex != null and pageSize != null" >
      LIMIT #{pageBeginIndex},#{pageSize}
    </if>
    <if test="pageBeginIndex == null and pageSize != null" >
      LIMIT #{pageSize}
    </if>
    <if test="pageBeginIndex != null and pageSize == null" >
      LIMIT #{pageBeginIndex}
    </if>
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    DELETE
    FROM tags
    <include refid="map_params_where_condition" />
  </delete>
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT COUNT(id)
    FROM tags
    <include refid="map_params_where_condition" />
  </select>
  <update id="updateByCondition" parameterType="java.util.Map" >
    UPDATE tags
    <set>
	  <if test="entity.name != null" >
        name = #{entity.name,jdbcType=VARCHAR},
      </if>
	  <if test="entity.url != null" >
        url = #{entity.url,jdbcType=VARCHAR},
      </if>
	  <if test="entity.number != null" >
        number = #{entity.number,jdbcType=INTEGER},
      </if>
    </set>
    <include refid="map_params_where_condition" />
  </update>
</mapper>